@model Domain.ExchangeKey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExchangeKey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="P" class="control-label"></label>
                <input asp-for="P" class="form-control" />
                <span asp-validation-for="P" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="G" class="control-label"></label>
                <input asp-for="G" class="form-control" />
                <span asp-validation-for="G" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ASecret" class="control-label"></label>
                <input asp-for="ASecret" class="form-control" />
                <span asp-validation-for="ASecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BSecret" class="control-label"></label>
                <input asp-for="BSecret" class="form-control" />
                <span asp-validation-for="BSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
